<configuration>
	<system.webServer>
		<webSocket enabled="false"/>
		<staticContent>
            <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
            <mimeMap fileExtension=".m4v" mimeType="video/m4v" />
            <mimeMap fileExtension=".woff" mimeType="application/x-font-woff"/>
     	</staticContent>
		<handlers>
			<add name="iisnode" path="server.js" verb="*" modules="iisnode"/>
		</handlers>
		<rewrite>
			<rules>
				<rule name="StaticContent">
					<action type="Rewrite" url="public{REQUEST_URI}"/>
				</rule>
				<rule name="DynamicContent">
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
					</conditions>
				<action type="Rewrite" url="server.js"/>
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>