doctype 5
html
	head
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/jquery-ui.css')
		link(rel='stylesheet', href='/stylesheets/tag.css')
		link(rel='stylesheet',href='/stylesheets/bootstrap.min.css')
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
		script(src="http://code.jquery.com/ui/1.10.3/jquery-ui.js")
		script(src="/js/bootstrap.min.js")
		script(src="/js/Descramble.js")	
		block scripts
	
	block content
	block foot
		div.pears
			a.al
			a.pearson
	block endScripts