doctype 5
html
	head			
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/descramblestyle.css')
		link(rel='stylesheet', href='/stylesheets/jquery-ui.css')         
		link(rel='stylesheet', href='/stylesheets/tag.css')	       
		script(src="http://code.jquery.com/jquery-1.9.1.js")
		script(src="http://code.jquery.com/ui/1.10.3/jquery-ui.js")                
		script(src="/js/countdown.js")
	block content