doctype 5
html
	head
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/jquery-ui.css')
		link(rel='stylesheet', href='/stylesheets/tag.css')
		link(rel='stylesheet',href='/stylesheets/bootstrap.min.css')
		
		block styles
	
	block content
	block foot
		div.pears
			a.al
			a.pearson
	
	script(src="/js/jquery.min.js")
	script(src="js/jquery-ui.js")
	script(src="/js/bootstrap.min.js")
	script(src="/js/Descramble.js")
	block endScripts
		