doctype 5
html
	head
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/jquery-ui.css')
		link(rel='stylesheet', href='/stylesheets/tag.css')
		link(rel='stylesheet',href='/stylesheets/bootstrap/css/bootstrap.min.css')
		
		block styles
	
	block content
	div.content-loader.show
		img(src='/images/ajax-loader.gif')

	block foot
		div.pears
			a.al
			a.pearson
	
	script(src="/js/jquery.min.js")
	script(src="js/jquery-ui.js")
	script(src="/js/bootstrap.min.js")
	script(src="/js/Descramble.js")
	script
		$(window).load(function(){
			//alert('loaded');
			//console.log($('.content-loader').removeClass('show').addClass('hidden'));
			$('body > div.hidden').removeClass('hidden').addClass('show');
			$('.content-loader').removeClass('show').addClass('hidden');
			
		});
	block endScripts
		