body {
  padding:0px;
  overflow-y: scroll;
}

audio
{
width:45px;
}

.center
{
margin:auto;
width:70%;
background-color:#b0e0e6;
}
.outerwrapper {
width: 100%;
height: 100%;
background-color: khaki;
padding: 80px;
position: fixed;
}

.wrapper {
height: inherit;
border: black solid 1px;
position: absolute;
padding: 20px;
margin: 10%;
}

.word {
padding: 10px;

}

.defn,.usage,.phrase,.Syn,.Ant,.Anag,.Images,.Parts
{
border-bottom:black solid 1px;
}

.word span img
{
padding:10px;
width:20%;
}

