body{
	background: url('/images/mode-bg.png') no-repeat;
	background-size:100%;
}
.Container{
}
.first,.second,.third{
	width:33.3%;
	float:left;
	margin-top:180px;
}
.second img,.third img{
	width:60%;
	margin-left: 40px;
	transition: all 0.3s ease 0.1s;
}
.first img{
	width:40%;
	margin-left:60px;
	transition: all 0.3s ease 0.1s;
}
.third img{
	margin-left:90px;
}
.first a:hover img{
	width:50%;
}
.second a:hover img,.third a:hover img{
	width:70%;
}
.heading{
	font-weight: 600;
	font-size: 30px;
	color: #fff;
	position: absolute;
	margin:20px 0 20px 35%;
}