body {
  font: 14px "Hobo std", Helvetica, Arial, sans-serif;
  background: url(/images/player_bg.png) no-repeat;
  margin: 0px;
}
body.login-page{
	background: url(/images/orange.jpg) no-repeat 100%;
}
a{
	text-decoration: none;
}
#SignInForm,#SignUpForm{
	width:220px;
	margin-left: 50px;
}
#SignInForm a,#SignUpForm a{
	float:right;
	display: block;
	color:#fff !important;
	font-size:20px;
}
#example_video_1{
	margin:0 auto;
}
.login-page .left{
	width:50%;
	float:left;
	overflow: hidden;
}
.login-page .right{
	padding:0 5% 0 5%;
	width:40%;
	float: left;
	overflow: hidden;
}
.login-page input{
	height:25px;
	border: none;
	margin-bottom: 10px;
	width: 220px;
	display: block;
}
.hide{
	display: none;
}
.loginSelect{
	margin: 60px 0 20px 50px;
}
.volume{
	position:absolute;
	right:20px;
	top:10px;
}
.loginSelect a,.white{
	color: #fff;
}
.logo{
	margin-top: 100px;
	display: inline-block;
}
.logo img{
	width: 100%;
}
a {
  color: #00B7FF;
}
.suggestion{
	top: 250px;
	position: absolute;
	width:65%;
}
.SuggRefresh{
	text-align:right;
}
.Sidebar{
	position: absolute;
	height: 100%;
	width: 30%;
	right: 0px;
	background:url(/images/Player-side-bg.png) no-repeat;
}
.suggSelect{
	position: absolute;
	top:90px;
	border-bottom: 1px #fff;
	border-top: 1px #fff;
	margin: 1px;
	left:50px;
}
.SuggRefresh a{ 
	color: #fff;
}
.suggSelect label{
	color:#fff;
	font-size: 200%;
}
.suggSelect #content{
	float:right;
	margin-left: 10px;
}
.suggInput{
	border: 2px solid #0A1B2A;
	border-radius: 5px;
	height: 22px;
	width: 230px;
	background-color : #0A1B2A; 
	color: #fff;
	font-size: 20px;
	height: 30px;
	width: 200px;
	font-style:italic; 
	padding: 5px 5px 5px 15px;
	box-shadow: 1px 1px 1px 1px #000;
}
.SuggWord h3{
	margin-left: 50px;
	color: #fff;
	font-weight:300; 
}
.loginSelect{
	font-size:30px;
}
.SignUpForm{
}
.SignInForm{

}
.hide{
	display:none !important;
}

.show{
	display:block !important;
}
.ui-menu .ui-menu-item a{
	color:#f1f1f1 !important;
}
.ui-menu .ui-menu-item:hover a{
	color: #444 !important;
}
.playerlist p{
	color: #efefef;
	margin: 0 !important;
	padding:10px !important;
	font-size:15px;
}
.head{
	color: #fff;
	font-weight: bold;
	padding:10px !important;
	font-size: 20px;
	margin-top:80px;

}
.playerinfo{
	position:absolute;
	right:20px;
	z-index: 9999;
	margin-top: 10px;
}
.suggSelect label{
	margin-top:5px;
}
.suggSelect{
	padding:20px 0;
	border-top: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
	width:60%;
}
.UserPhoto{
	background: url('/images/placeholder.png');
	height: 58px;
	width: 48px;
	display: inline-block;
	float: left;
}
.playerinfo p{
	float: left;
	margin-top: 20px;
}
p.LevelInfo{
	color:#e805ff;
}
p.LevelPoints{
	color: #ff9000;
}
.socket-status{
	display: none;
}
.log-out{
	position: absolute;
	top: 10px;
	left: 10px;
	background: url('/images/log-out.png');
	z-index: 120;
}
.playerinfo a{
	background: url('/images/placeholder.png');
}
#defni{
	color:#efefef;
	padding-left:25px;
}
#imageSpan img{
width:60%;
}
#imageHint,#audioHint{
font-size:15px;
margin-top:10px;
}