extends ../layout

block content
	script(type='text/javascript')
		String.prototype.shuffle = function () {
		var a = this.split(""),
		n = a.length;
		for(var i = n - 1; i > 0; i--) {
		var j = Math.floor(Math.random() * (i + 1));
		var tmp = a[i];
		a[i] = a[j];
		a[j] = tmp;
		}
		return a.join("");
		}
		var originalWord="#{keyWord}";
		var scrambledWord = originalWord.shuffle().shuffle();
		var wordLength = originalWord.length;
		var clickCount = -1;
		alert(scrambledWord);
		function createElements(str) {	
			for(i=0;i<str.length;i++)
			{	
			var classType=['floating','floatingr','scaling'];		
			var rand = Math.floor(Math.random()*2);
			
			
			var animation=document.createElement('div');
			$(animation).append(str[i]).addClass(classType[rand])
			
			var bubbles = document.createElement('div');
			$(bubbles).addClass('bubble x'+((i+1)%14)+' ball ').append(animation)
			
			$("#bubble").append(bubbles);
			
			var blanks=document.createElement('div');
			$(blanks).append('<h1></h1>').addClass('blank').attr('id', 'blank'+i)
			
			$("#userAnswer").append(blanks);
			
			
			}		

		}
		$(document).ready(function(){
		var audioElement = document.createElement('audio');
		audioElement.setAttribute('src', '/audio/Minion_What.mp3');		
		
		
		createElements(scrambledWord);
		
		$('.bubble').on('click', function () {
		clickCount++;
		var clickedLetter = $(this).find('div').html();
		if(originalWord[clickCount] == clickedLetter){
		$('#userAnswer').find('#blank'+clickCount+' h1').html(clickedLetter);
		if(clickCount+1==wordLength)
		alert('Complete');
		}
		else
		{
		clickCount--;
		audioElement.play();
		}
		});
		});
	
	#container
		#bubble	
			
	#userAnswer
		