block content
	script(src="http://code.jquery.com/jquery-1.9.1.js")
	script(type='text/javascript', src='/socket.io/socket.io.js')
	script(src="/js/sockettest.js")
	div.name-wrap
		input(id="username")
		div(id="mybutton").
			Submit
	div.playerlist

	input(id='refresh-list-btn',type='button',value='Refresh')
	

