extends ../layout
block scripts
	script(type='text/javascript', src='/socket.io/socket.io.js')
block content
	body
		a.log-out(href="/logout") 
			span
				img(src='/images/log-out.png')
		if user 
			div.playerinfo
				p.LevelInfo L#{user.level.number}
				a.UserPhoto
				p.LevelPoints #{user.points}

		h1 = title
		input(type='hidden',id='usernamefield',value='#{user._id}')
		
		div.suggSelect
			label Choose a Word To Challenge :
			div(id="content")
				input.suggInput(type='text', id='searchWord')
			div(id="displayText")
		
		div.suggestion
			div.SuggWord
				span
					h3 Other Suggestions :
			div.SuggRefresh 
				span 
					a(href="javascript:refresh();")[Refresh]
			div.tags
				ul
					-for(var i=0; i<random.length;i++){
					-var tagNo=Math.floor((Math.random()*5)+1);
					li(class="tag#{tagNo}")
						a(href="javascript:WordSelect('#{random[i].word}')") #{random[i].word}
					-}
		div.Sidebar
			div.playerstats
				div.playericon
			div.playerselection
				div.head Online Players:
				div.playerlist
		div.socket-status
block endScripts
	script(src="/js/twoPlayer.js")